@import '../../styles/utils.scss';

@media only screen and (min-width: 1280px) and (max-width: 1347px) {
  .List {
    padding: 30px 5%;
  }
}
@media only screen and (min-width: 1348px) and (max-width: 1680px) {
  .List {
    padding: 30px 12%;
  }
}

.List {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 100px;
  .empty-wish-list {
    position: relative;
    padding: 300px 470px;
    font-size: 1.4rem;
    color: darkgray;
  }
  .product-card {
    position: relative;
    margin: 30px 2px;
    width: 250px;
    height: 280px;
    border: 1px solid $lightgray;
    border-radius: 4px;
    .product-module-thumnail {
      height: 166px;
      overflow: hidden;
      .product-thumnail {
        width: 100%;
        height: 100%;
      }
    }
    .product-module-body {
      padding: 16px;
      .product-title {
        display: -webkit-box;
        margin: 0;
        width: 100%;
        line-height: 1.47;
        font-size: 15px;
        font-weight: 600;
        color: $darkblueblack;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
      .product-price {
        position: absolute;
        bottom: 8%;
        color: $lightbluegray;
        font-size: 14px;
        font-weight: 500;
      }
    }
    .product-wish-icons {
      cursor: pointer;
      position: absolute;
      top: 8px;
      right: 8px;
      .heart-icon {
        color: $lovelypink;
      }
      .heart-empty-icon {
        color: white;
      }
    }
  }
}
