$mrtblue: #2a96ed;
$transparent: rgba(0, 0, 0, 0);
$lightwhite: rgb(255, 255, 255);
$lightgray: #d6d6d6;
$darkblueblack: #343a40;
$lovelypink: #fa5b4a;
$lightbluegray: #666d75;
$shadowgray: rgba(133, 133, 133, 0.3);
